.wi-align-center{
    text-align: center;
}

.wi-bgrd{
    position: relative;
    max-width: 600px;
    background-color: #d1ecf1;
    height: 100%;
}

.wi-main-menu{
    position: absolute;
    bottom: 1px;
    width: calc(100% - 25px);
    max-height: 10%;
    padding: 10px;
    background-color: #9fcdff;
}
.wi-main-menu img{
    width: 40px;
    height: 40px;
}

.wi-search{
    background-color:#9fcdff;
    max-height: 10%;
}

.wi-center{
    background-color: #b3d7ff;
    height: 80%;
}

.wi-header{

}




